<section class="wrapper">

<h1>iChode</h1>

<div id="mainmenubox">

<div id="humanbox">
</div>

<div class="bodybox">
	<div id="m1" class="bodyitem">Shoulders</div>
	<div id="m2" class="bodyitem">Chest</div>
	<div id="m3" class="bodyitem">Back</div>
	<div id="m4" class="bodyitem">Arms</div>
	<div id="m5" class="bodyitem">Legs</div>
</div>


</div>

<div>
Main Groups Are: <br>
Arms
<ul>
	<li>Triceps</li>
	<li>Biceps</li>
	<li>Forearms</li>
</ul>
<br>
Shoulders
<ul>
	<li>traps</li>
	<li>lateral delts</li>
	<li>rear delts</li>
	<li>front delts</li>
</ul>
<br>
Chest
<br>
Legs
<br>
<ul>
	<li>quads</li>
	<li>calves</li>
	<li>hamstrings</li>
</ul>
<br>
Abs
<ul>
	<li>abs</li>
	<li>core</li>
	<li>obliques</li>
</ul>
<br>
Back
<ul>
	<li>interior Lats</li>
	<li>outer Lat Wings</li>
	<li>Lower Back</li>
</ul>

</div>
</section>
