<div id="picturebox3">

	<div id="muscleoptions">
		<h1>
			Enter Your Facebook Info.

		</h1>
	</div>


	<div id="user_nav">
		<% if current_user %>
		Signed in as <strong><%= current_user.name %></strong>!
		<%= link_to "Sign out", signout_path, id: "sign_out" %>
		<% else %>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
		<% end %>
	</div>



<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>


</div>