#bodymenubox{
	width:800px;
	height:700px;
	margin:auto;
	margin-top:100px;
	
	//border:1px solid #ddd;
	background: rgba(54,54,54,0.35);
	background-image:url("/anatomy.png");
	background-size:cover;
	position:relative;
	border-radius:10px;
	padding:40px;

	a{
		font-size:50px;
		font-weight:bold;
		text-decoration:none;
		color:white;
		padding:20px;
		padding-top:40px;
		padding-bottom:40px;
		width:760px;
		float:left;
		text-align:center;
		border-radius:10px;
	}

	a:hover{
		//background: rgba(200,54,54,0.2);
	}
}