#menubox{
	width:400px;
	height:600px;
	margin:auto;
	margin-top:200px;
	
	//border:1px solid #ddd;
	background: rgba(200,54,54,0.35);
	position:relative;
	border-radius:10px;
	padding:20px;

	#titlebox{
		font-weight:bold;
		font-size:45px;
		color:white;
		//border:1px solid black;
		padding-top:50px;
		text-align:center;
	}

	#smallermenubox{
		margin-top:40px;
		width:100%;

		a{
			text-align:center;
			float:left;
			text-decoration:none;
			color:white;
			font-size:25px;
			border-top:1px solid black;
			padding-top:15px;
			padding-bottom:15px;
			width:100%;
		}
		a:hover{
			background: rgba(100,54,54,0.2);
		}
	}
}